<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title> Home </title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
	<style>
		.welcome{
			background-color:#e3f2fd;
			margin: 200px 0px 30px 0px;
			padding:80px 0px 80px 0px;
		}
		
		h1{
			color: #333456;
		}
		
		.btn{
			width:140px;
			background-color: #e3f2fd;
			color: #333456;
		}
		
		#text-daftar-fitur{
			margin: 40px 0px 40px 0px;
			
		}
		
	
	</style>
	
</head>


<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container">
		<div class="welcome rounded-lg">
			<h1 class="text-center">Selamat Datang di SIPESAWAT!</h1>
			
		</div>
		
		<div class="daftar-fitur">
			<h1 class="text-center" id="text-daftar-fitur">Daftar Fitur:</h1>
			
			<div class="row justify-content-md-center">
				<div class="col col-lg-2 text-center">
					<a href="/pesawat" class="btn">Pesawat</a>
				</div>
				<div class="col-md-auto text-center">
					<a href="/penerbangan" class="btn">Penerbangan</a>
				</div>
				<div class="col-md-auto text-center">
					<a href="/pesawat/pesawat-tua" class="btn">Cari</a>
				</div>
				<div class="col col-lg-2 text-center">
					<a href="/pesawat/filter" class="btn">Filter</a>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>