<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
	<title>Hapus Penerbangan</title>
    
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
	  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  
  <style>

  </style>

</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container">
        <h2 class="text-center" th:text=" 'Penerbangan ' + ${nomorPenerbangan}" style="margin-top: 30px;">
        </h2>
        <h2 class="text-center">berhasil dihapus.</h2>

        <div class="text-center" style="margin-top: 30px;">
            <a th:href="@{/penerbangan}">Kembali ke Daftar Penerbangan</a>

        </div>

        
      
    </div>
</body>
</html>