<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
	<title>View All Pesawat</title>
    
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
	  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  
  <style>
    #tambah-text{
      margin: 30px 0px 8px;
    }

    #table-pesawat{
      margin: 20px 0px 40px;

    }
    #text-daftar{
      margin: 30px 0px 50px;

    }



  </style>

</head>


<body>
  <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container">
        <h1 class="text-center" id="text-daftar">Daftar Pesawat</h1>

        <a href="/pesawat/tambah" class="btn btn-primary" id="tambah-text">+ Tambah Pesawat</a>

        <table class="table" id="table-pesawat">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nomor Seri</th>
                <th scope="col">Tipe Pesawat</th>
                <th scope="col">Jenis Pesawat</th>
                <th scope="col">Maskapai</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
                <tr th:each="pesawat: ${listPesawat}">
                    <th scope="row" th:text="${pesawat.idPesawat}"></th>
                    <td th:text="${pesawat.nomorSeri}"></td>
                    <td th:text="${pesawat.tipe.namaTipe}"></td>
                    <td th:text="${pesawat.jenisPesawat}"></td>
                    <td th:text="${pesawat.maskapai}"></td>
                    <td>
                      <div class="row">
                        <div class="col">
                          <a type="button" class="btn btn-outline-primary" th:href=@{/pesawat/}+${pesawat.idPesawat}>Lihat</a>
                        </div>
                        <div class="col">
                          <a type="button" class="btn btn-outline-secondary" th:href=@{/pesawat/ubah/}+${pesawat.idPesawat}>Ubah</a>
                        </div>
                        <div class="col">
                          <a type="button" class="btn btn-outline-danger" href=#>Hapus</a>
                        </div>

                      </div>
                    </td>
               </tr>
            </tbody>
          </table>



    </div>


</body>
</html>